/* SECTION: the left part that holds all blocks in the grid */
.block-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* a single 10 minute time slot block */
.block {
    flex: 1 0 10%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

/* ASIDE: defines the color selection area */
.color-card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
    border-bottom: 1px solid gray;
    margin: 10px;
    font-size: 1.5em;
}

.color-cube {
    width: 45px;
    height: 45px;
    background-color: whitesmoke; /* default color if user enters invalid input */
    border-radius: 5px;
}

/* initial setup for default entries */
#tasks > .color-card:first-child > .color-cube {
    background-color: orange;
}

#tasks > .color-card:nth-child(2) .color-cube {
    background-color: deepskyblue;
}

#tasks > .color-card:nth-child(3) .color-cube {
    background-color: limegreen;
}

.color-desc {
    /* could add the below to move it a bit off the edge */
    /*padding-right: 20px;*/
}

#add-tasks {
    padding: 10px;
}